@import "styles/button";

.select-all-container {
  display: flex;
  gap: 10px;
  align-items: center;

  input {
    width: 30px;
    height: 30px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
}

.button-list-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  .delete-paper-button {
    @include btn-red;
    @include btn-small;
    color: var(--white);
    width: 100px;
    @media screen and (max-width: 768px) {
      width: 90px;
    }
  }

  .go-back-button {
    width: 40px;
    height: 40px;

    @media screen and (max-width: 768px) {
      // TODO - 모바일 크기
    }
  }
  .checkbox-button-container {
    display: flex;
    gap: 20px;
  }
}
.edit-button {
  width: 28px;
  height: 28px;
}
