article.card {
  padding: 24px;
}

.card {
  width: 100%;
  height: 280px;
  border-radius: 16px;
  background-color: var(--white);

  header {
    height: 76px;
    display: flex;
    gap: 14px;

    .profile {
      width: 56px;
      height: 56px;
      border-radius: 100px;
      border: 1px solid var(--gray200);
    }

    .badge {
      width: fit-content;
      height: fit-content;
      margin-top: 6px;
      padding: 0 8px;
      border-radius: 4px;

      &.acquaintance {
        background-color: var(--orange100);
        color: var(--orange500);
      }

      &.friend {
        background-color: var(--blue100);
        color: var(--blue500);
      }

      &.coworker {
        background-color: var(--purple100);
        color: var(--purple600);
      }

      &.family {
        background-color: var(--green100);
        color: var(--green500);
      }
    }
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--gray200);
  }

  main {
    width: 100%;
    height: 106px;
    margin: 16px 0;
    color: var(--gray600);
  }

  footer {
    color: var(--gray400);
  }
}

.card-first {
  display: flex;
  justify-content: center;
  align-items: center;

  .add-button {
    width: 56px;
    height: 56px;
    padding: 16px;
    border-radius: 100px;
    background-color: var(--gray500);

    &:disabled {
      background-color: var(--gray300);
    }

    &:hover {
      background-color: var(--gray600);
    }

    &:focus,
    &:active {
      background-color: var(--gray700);
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}
