article.card {
  padding: 24px;
}

.card {
  width: 100%;
  height: 280px;
  border-radius: 16px;
  background-color: var(--white);
  position: relative;
  // NOTE pointer 추가
  cursor: pointer;

  // NOTE
  .header {
    margin-bottom: 16px;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--gray200);
  }

  main {
    width: 100%;
    margin: 16px 0;

    color: var(--gray600);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  footer {
    color: var(--gray400);
    position: absolute;
    bottom: 24px;
    left: 24px;
  }
}

.card-first {
  display: flex;
  justify-content: center;
  align-items: center;

  .add-button {
    width: 56px;
    height: 56px;
    padding: 16px;
    border-radius: 100px;
    background-color: var(--gray500);

    &:disabled {
      background-color: var(--gray300);
    }

    &:hover {
      background-color: var(--gray600);
    }

    &:focus,
    &:active {
      background-color: var(--gray700);
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}
