@import "styles/fonts.scss";

.message-form {
  width: 320px;
  margin: 0 auto;

  &-title {
    @include font(28px, $bold);
    margin-bottom: 12px;
    margin-top: 50px;
    display: block;
  }

  &-sender {
    input {
      cursor: auto;
      width: 100%;
    }
    .form-error {
      display: block;
      color: var(--error-red);
      font-size: 14px;
      margin-top: 4px;
    }
  }

  &-name-input {
    width: 720px;
  }

  &-inputs {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 320px;
    height: 50px;
    border: 1px solid var(--gray300);
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
    @include font(16px);
    line-height: 26px;
    letter-spacing: -0.01em;
    appearance: none;
    padding: 12px 16px;
    cursor: pointer;
    user-select: none;
    &.error {
      border: 1px solid var(--error-red);
    }
  }

  &-content {
    position: relative;
    margin-bottom: 20px; // 예시로 추가한 스타일
    .form-error {
      // .form-error 클래스 스타일 적용
      display: block;
      color: var(--error-red);
      font-size: 14px;
      margin-top: 4px;
    }
  }

  &-text-editor {
    min-height: 200px;
    border: 1px solid var(--gray300);
    border-radius: 8px;
    padding: 8px;
    min-height: 300px;
    &.error {
      border: 1px solid var(--error-red);
    }
    &--wrapper {
      position: relative;
      z-index: 1;
    }
  }

  &-inputs::placeholder {
    @include font(16px);
    line-height: 26px;
    letter-spacing: -0.01em;
  }

  &-arrow-icon {
    width: 16px;
    height: 16px;
  }

  &-drop-down-menu {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
    &:hover {
      background-color: var(--gray100);
    }

    &-box {
      z-index: 2;
      position: absolute;
      width: 320px;
      top: 60px;
      left: 0;
      border: 1px solid var(--gray300);
      border-radius: 8px;
      background-color: var(--white);
      display: none;
      &-active {
        display: block;
      }
    }
  }

  &-profile-container {
    display: flex;
    justify-content: space-between;
    &-options-title {
      @include font(16px);
      line-height: 26px;
      letter-spacing: -0.01em;
    }
    &-options {
      display: flex;
      flex-direction: column;
      gap: 12px;
      height: 122px;
      margin-left: 32px;
    }

    &-preview {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 100px;
      &--container {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
      }
    }
  }

  &-submit {
    width: 100%;
    height: 56px;
    padding: 14px 24px 14px 24px;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 206px;
    margin-bottom: 24px;
    border: none;
    color: var(--white);
    @include font(18px);
    @media screen and (max-width: 768px) {
      @include size(15px);
    }

    background-color: var(--enabled-btn);

    &:disabled {
      background-color: var(--disabled-btn);
      cursor: not-allowed;
    }

    &:hover:enabled {
      background-color: var(--hover-btn);
    }

    &:active:enabled {
      background-color: var(--pressed-btn);
    }
  }
}

.form-error {
  display: block;
  color: var(--error-red);
  font-size: 14px;
  margin-top: 4px;
}

@media (min-width: 767px) {
  .message-form {
    width: 717px;
  }
  .message-form-profile-preview {
    width: 56px;
    height: 56px;
  }
  .message-form-profile-preview-container {
    gap: 4px;
  }
}

@media (min-width: 1200px) {
  .message-form {
    width: 720px;
  }
}