.main {
  position: center;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 30px;
  max-width: 720px;
  width: 100%;
  justify-content: center;
  padding: 60px 60px;

  .inputSection {
    .inputTitle {
      display: flex;
      color: var(--gray900);
      font-size: 24px;
      width: 34px;
      height: 42px;
      gap: 10px;
    }
    .inputToName {
      display: block;
      width: 100%;
      border-radius: 8px;
      border: 1px solid var(--gray300);
      padding: 12px 16px 12px 16px;
      outline: none;
    }
    .inputToName::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
    }

    .inputToNameError {
      @keyframes shake {
        0% {
          transform: translateX(0);
        }
        25% {
          transform: translateX(-5px);
        }
        50% {
          transform: translateX(5px);
        }
        75% {
          transform: translateX(-5px);
        }
        100% {
          transform: translateX(0);
        }
      }

      animation: shake 0.5s ease; /* input 엘리먼트가 흔들리는 애니메이션 */
      display: block;
      width: 100%;
      border-radius: 8px;
      border: 1px solid var(--gray500);
      padding: 12px 16px 12px 16px;
      outline: none;
    }
    .inputToNameError::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: var(--error-red);
    }
  }
  .backgroundImageSection {
    margin-top: 30px;
    margin-bottom: 50px;
    .backgroundImageTitle {
      display: block;
      color: var(--gray900);
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
    }
    .backgroundImageSubTitle {
      display: block;
      color: var(--gray500);
      font-size: 16px;
      margin-top: 10px;
      font-weight: 400;
    }
    .buttonSection {
      margin-top: 30px;
      .optionButton {
        width: 120px;
        height: 35px;
        border-radius: 6px;
        padding: 7px 16px 7px 16px;
        gap: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        border: 1px solid var(--white);
        color: var(--gray900);

        &.color,
        &.image {
          background-color: var(--white);
          color: var(--primary-color);
          font-weight: 600;
          border: 2px solid var(--primary-color);
        }
      }
    }
  }

  .colorRollingSection,
  .imageRollingSection {
    margin-top: 50px;
    display: flex;
    gap: 10px;
    .firstColor,
    .secondColor,
    .thirdColor,
    .fourColor {
      width: 150px;
      height: 150px;
      border-radius: 16px;
      border: 1px solid var(--white);
    }
    .firstColor {
      background-color: var(--rolling-bg-orange);
    }
    .secondColor {
      background-color: var(--rolling-bg-purple);
    }
    .thirdColor {
      background-color: var(--rolling-bg-blue);
    }
    .fourColor {
      background-color: var(--rolling-bg-green);
    }
  }

  .createRollingPage {
    .createRollingPageButton {
      width: 100%;
      height: 56px;
      border-radius: 12px;
      color: var(--white);
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      border: 1px solid var(--primary-color);
      background-color: var(--primary-color);
    }
  }
}
