.wrapper{
  width: 100%;
  position: relative;

  .track{
    margin: 20px auto;
    max-width: 1180px;

    .title{
      margin-left: 20px;
      margin-top: 50px;
    }
    
    .vertical-scroll{
      visibility: hidden;
      position: absolute;
      display: flex;
      gap: 20px;
      width: 100%;
      padding-left: 20px;
      overflow: auto;
      white-space: nowrap;
      
      &.item-1{
        top: 60px;
      }

      &.item-2{
        top: 450px;
      }
    }
  }
}

@media screen and (max-width: 1248px) {
  .empty{
    height: 300px;
  }
  .wrapper .track .vertical-scroll {
    visibility: visible;
  }
  .carousel{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .wrapper .track .vertical-scroll {
    visibility: visible;
  }
  .carousel{
    display: none;
  }
}
