.main {
  width: 1200px;
  margin: 60px auto;

  .section {
    display: flex;
    gap: 152px;
    padding: 60px 40px 80px 60px;
    background-color: var(--surface);
    border-radius: 16px;

    .content-container {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .emphasis {
        border-radius: 50px;
        font-weight: var(--bold);
        font-size: 14px;
        line-height: 20px;
        background-color: var(--primary-color);
        color: var(--white);
        width: 80px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
      }
      .title {
        font-weight: var(--bold);
        font-size: 24px;
        line-height: 36px;
        white-space: pre-line;
      }
      .description {
        font-weight: var(--regular);
        font-size: 18px;
        color: var(--gray500);
      }
    }
  }
}
