@import "styles/button";

.page-main {
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 768px) {
    min-width: 360px;
  }

  &.beige {
    background-color: var(--rolling-bg-beige);
  }

  &.blue {
    background-color: var(--rolling-bg-blue);
  }

  &.purple {
    background-color: var(--rolling-bg-purple);
  }

  &.green {
    background-color: var(--rolling-bg-green);
  }
}

.card-section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 63px 0;

  @media screen and (max-width: 1248px) {
    margin: 0 24px;
    padding: 15px 0;
  }

  @media screen and (max-width: 768px) {
    margin: 0 20px;
  }

  height: fit-content;
  min-height: 1000px;
}

.card-list {
  width: 100%;

  display: grid;
  gap: 28px 24px;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 1248px) {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

