.page-main {
  @media screen and (max-width: 768px) {
    min-width: 360px;
  }

  &.beige {
    background-color: var(--rolling-bg-orange);
  }

  &.blue {
    background-color: var(--rolling-bg-blue);
  }

  &.purple {
    background-color: var(--rolling-bg-purple);
  }

  &.green {
    background-color: var(--rolling-bg-green);
  }
}

.card-section {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 113px 0;

  @media screen and (max-width: 1248px) {
    margin: 0 24px;
    padding: 93px 0;
  }

  @media screen and (max-width: 768px) {
    margin: 0 20px;
    padding: 80px 0;
  }
  padding-top: 63px;

  height: fit-content;
  min-height: 1000px;
}

.card-list {
  width: 100%;

  display: grid;
  gap: 28px 24px;
  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: 1248px) {
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.select-all-container {
  display: flex;
  gap: 10px;
  align-items: center;

  input {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.button-list-container {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  .go-back-button {
    background: none;
  }

  .checkbox-button-container {
    display: flex;
    gap: 20px;
  }
}
