@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.header {
  width: 100%;
  border-bottom: 1px solid #ededed;
  @media screen and (max-width: 1248px) {
    padding: 0 24px;
  }

  .logo-button-container {
    display: flex;
    width: 1200px;
    height: 64px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1248px) {
      width: 100%;
      margin: 0;
    }

    .logo-container {
      display: flex;
      gap: 8px;
      align-items: center;
      color: var(--black);

      .logo-text {
        font-family: "Poppins", sans-serif;
        font-weight: var(--bold);
        font-style: normal;
        font-size: 20px;
      }
    }

    .post-button {
      padding: 8px 16px 8px 16px;
      border-radius: 6px;
      border: 1px solid var(--disabled-btn);
      background-color: var(--white);
      color: var(--gray900);
    }
  }
}
