.reaction-box {
  display: flex;
  
  gap: 8px;
  @media screen and (max-width: 768px) {
    gap: 4px;
  }

  .emoji-box {
    color: var(--white);
    border-radius: 32px;
    background-color: var(--emoji-bg);
    cursor: default;

    padding: 8px 12px;
    display: flex;
    gap: 2px;
  }
  .non-reacted{
    margin-top: 10px;

    @media screen and (max-width: 768px) {
      margin-top: 2px;
    }
  }

}

.post {
  .emoji-box {
    @media screen and (max-width: 768px) {
      padding: 4px 8px;
    }
  }
}
