.reaction-box{
border-top: 1px solid var(--black, rgba(0, 0, 0, 0.12));
width: 227px;
height: 53px;
margin-top: 43px;
padding-top: 17px;
display: flex;
gap: 8px;
@media screen and (max-width: 768px) {
  width: 162px;
  margin-top: 33px;
  gap: 4px
}

  .emoji-box{
    color: var(--white);
    border-radius: 32px;
    background-color: rgba(0, 0, 0, 0.54);
  }

    .show-reaction{
      padding: 8px 12px;
      display: flex;
      gap: 2px;

      @media screen and (max-width: 768px) {
        font-size: 14px;
        padding: 6px 8px;
      }
    }
}
