.CardList{
  border-radius: 16px;
  width: 275px;
  height: 260px;

  color: var(--gray700);
  a{
    display: block;
    padding: 30px 24px 20px 24px;
  }
  h3{
    color: var(--gray900);
    margin: 0;
  }
}
