.CardList {
  width: 275px;
  height: 260px;
  margin-bottom: 5px;
  background-size: cover;
  @media screen and (max-width: 768px) {
    width: 208px;
    height: 232px;
  }
  border-radius: 16px;

  :hover {
    opacity: 0.8;
  }

  .bg-setting {
    width: 275px;
    height: 260px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08), 0 2px 5px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 768px) {
      width: 208px;
      height: 232px;
    }
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 16px;
    color: var(--gray900);

    &.bg-url {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 16px;

      h3 {
        color: var(--white);
      }

      a {
        color: var(--white);
      }
    }

    &.bg-purple {
      background-image: url("../../assets/images/purple.webp");
    }
    
    &.bg-beige {
      background-image: url("../../assets/images/beige.webp");
    }
    
    &.bg-blue {
      background-image: url("../../assets/images/blue.webp");
    }
    
    &.bg-green {
      background-image: url("../../assets/images/green.webp");
    }
  }

  a {
    display: block;
    padding: 30px 24px 20px 24px;
    @media screen and (max-width: 768px) {
      padding: 30px 20px 20px 20px;
    }

    .name {
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
    h3 {
      color: var(--gray900);
      margin: 0;
    }

    .divider {
      margin-top: 43px;
      margin-bottom: 16px;
      width: 100%;
      border: solid 1px rgba(0, 0, 0, 0.12);

      @media screen and (max-width: 768px) {
        margin-bottom: 8px;
      }
    }
  }
}

.allpost {
  &.CardList,
  .bg-setting {
    width: 100%;
  }
}
