.container {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
  position: relative;

  h1 {
    position: absolute;
    margin-left: 20px;
    margin-top: 50px;
    color: #000000;
    font-weight: 700;
    line-height: 2;
    font-size: 28px;
    top: 0;
    z-index: 2;
  }  

  p {
    color: #555;
  }

  .slider {
    padding-top: 82px;
      border-radius: 16px;
      cursor: pointer;
      padding-left: 20px;
    }

    .slick-prev:before, .slick-next:before {
      display: none;
      }
}
